*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f7fa;

}
header{
    background-color: #24292f;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header h1{
    font-size: 24px;
}
header .search-bar input{
    padding:8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
header .logo img{
    width: 30px;
    height: 30px;
}
.main-content{
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
}
.sidebar{
    width: 25%;
    background-color: #24292f;
    color:white;
    padding: 20px;
}
.sidebar .profile-card{
    background-color: #3e4c59;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    width: 75%;
    padding-left: 20px;
    
}
.box{
    background-color: #e1e4e8;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
.box-1{
    background-color: #f0f0f0;
}
.box-2{
    background-color: #f8f8f8;
}
.box-3{
    background-color: #d9d9d9;
}
.box-4{
    background-color: #e99e9e9;
}